*{
  font-family: 'Lato TR', sans-serif;
  font-family: 'Lato TR Hairline', sans-serif;
  font-family: 'Lato TR Black', sans-serif;

}
body{
  overflow: hidden !important;
}
small{
  color: #0B6186;
}

body{
  background-color: #C2F2FF !important;
}
nav{
  position: fixed;
  top: 0px;
  z-index: 100;
  padding: 10px 2px;
}
.menu{
  position: fixed;
  left: 0px;
  top: 60px;
  padding: 40px  20px !important;
  width: 310px !important;
  height: 100vh !important;
  overflow-y: scroll;

}
.prof{
  border-left: 2px solid black;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  /* border: 2px solid red; */
  padding-left: 20px;
  gap: 30px;
  margin-left: 100px;
}



#displayProfile>img{
border-radius: 100%;
}
.menu>div>span{
  font-size: 14px;
  color: #0B6186;
}
.main3{
  margin-left: 372px !important;
  margin-top: 40px !important;
  height: fit-content;
}
.main4{
  padding: 0px 65px !important;
}

.mainChild{
  padding: 20px 65px !important;
  width: 100%;
}
.mainChild>div>small{
  font-size: 12px;
  color: #0B6186;
}
.mainChild>div>p{
  font-size: 32px;
  color: #0B6186;
}
.mainChild>button{
  border:  none;
  background-color: rgb(11, 97, 134);
  border-radius: 50px;
  padding: 15px 30px;
  width: 170px;
  color: white;
}
.monitor{
  width: 400px !important;
  border-radius: 30px;
  padding: 30px 50px ;
  height: fit-content !important;
}

.monitor2{
  width: 330px !important;
  border-radius: 30px;
  padding: 30px 50px ;
  height: fit-content !important;
}

.monitor2>p{
  font-size: 70px !important;
  color: #0B6186;
}
.monitor2>small{
  font-size: 20px;
  color: #0B6186;
  font-family: 'Lato TR Light', sans-serif;

}
.monitor2>p>span{
  font-size: 20px !important;
}
.inputIt{
  width: 600px;
}
.monitor>p{
  font-size: 70px !important;
  color: #0B6186;
}
.monitor>small{
  font-size: 20px;
  color: #0B6186;
  font-family: 'Lato TR Light', sans-serif;

}
.monitor>p>span{
  font-size: 20px !important;
}

.indicate{
  border-left: 5px solid #0B6186;
  height: 10px !important;
  border-radius: 4px 4px;
  display: flex;
  align-items: center;
}



.topHead{
  margin-left: 10px;
}
.topHead>h2{
  font-size: 25px !important ;
  font-weight: 500;
 color: #0B6186 !important;
}
.topHead>p{
  font-size: 14px !important ;
 color: #0B6186 !important;
}
.searchDiv{
  border: 2px solid #0B6186;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 315px !important;
}
.searchDiv>input{
  outline: none;
  border: none;
}
.searchDiv::placeholder{
  color: #0B6186 !important ;
  font-size: 13px;
}
.navpart2{
  width: 100%;
}
.ham{
  display: none;
}
.hideDiv{
  display: none;
}
.dnone{
  display: none;
}

.fSMall{
  color: #0B6186 !important;
  padding: 17px 10px !important;
  font-size: 12px;
}

#dashboardHome{
  height: calc(100vh - 100px); /* Adjust the height as needed */
  overflow-y: auto;
}

#puff{
  height: calc(100vh - 100px); /* Adjust the height as needed */
  overflow-y: auto !important;
  overflow-x: hidden;
}

#notify{
  height: calc(100vh - 100px); /* Adjust the height as needed */
  overflow-y: auto !important;
  overflow-x: hidden;
}

.igin{
  background-color: #FAFAFA !important;
  width: 100%;
  margin-left: auto;
}

.main5{
  background-color: #FAFAFA !important;
  width: 100%;
  margin-left: auto;
  /* border: 2px solid red; */
  height: 100vh;
}

.main6{
  background-color: #FAFAFA !important;
  width: 100%;
  margin-left: auto;
  /* border: 2px solid red; */
  height: 100vh;
}

.main7{
  background-color: #FAFAFA !important;
  width: 100%;
  margin-left: auto;
  /* border: 2px solid red; */
  height: 100vh;
}



.notifyDiv{
  margin-left: 350px;
  width: 72%;
  padding-top: 20px;
  margin-top: 65px;
  z-index: 99;
  background-color: #FAFAFA;
  cursor: pointer;
}
.Proff{
  padding: 30px 0px !important;
  background-color: #FAFAFA !important;
  width: 100%;

}

.movePro{
  margin-left: 550px !important;
  height: fit-content;
  margin-top: 80px !important;
  width: 640px!important;

}
.borsbot{
  border-bottom: 2px dotted rgb(187, 184, 184);
  margin-bottom: 30px ;
}
.borsbot>small{
  font-size: 13px;
  color: rgb(180, 180, 180);
}
.borsbot>p{
  font-size: 15px;
  color: rgb(95, 95, 95);
}
.activeSlide{
  border-bottom: 3px solid black;
  cursor: pointer;
}
.activeSlide>div{
  cursor: pointer;
}


.borderit{
  /* border: 2px solid red; */
  width: 70% !important;
  margin: 50px 360px;
}

.modal-body{
  color:#0B6186;
}
.modal-header{
  color: #0B6186;
}
.modalfooter>button{
  background-color: #0B6186 !important;
}


.billImage{
  margin-left: 350px;
  margin-top: 70px;
}

@media screen and (max-width: 475px) {
  nav>div>img{
    width: 100px ;
    margin-left: 60px;
  }
  nav{
    padding: 10px 10px !important;
    width: 100%;
    /* position: fixed;
    top: -1px;
    z-index: 99 !important; */
  }
  .topHead>h2{
    display: none;
  }
  .navpart2{
    margin-right: 200px !important;
    /* border: 2px solid red; */
  }
  
  .inputIt{
    display: none;
    margin-left: 0px !important;
  }
  .searchDiv{
    margin-left: 10px;
    border: none;
  }
  .searchDiv>img{
    width: 20px;
    position: relative;
    left: 50px;
  }
  .notification{
   position: relative;
   right: 230px;
  }
  .notification>img{
   width: 20px;
  }


  .buttonMenu{
    margin-top: 25px;
    margin-bottom: -16px !important;
    border-top: 2px solid #0B6186;
  }

  .ham{
    display: block;
  }

  .menu {
    display: none !important;
  }
 
  
  /* Display the menu when the hamburger icon is clicked */
  .menu.active {
    display: block;
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%; /* Fill the entire width of the screen */
    height: 100vh; /* Fill the entire height of the screen */
    background-color: #fff; /* Background color for the menu */
    z-index: 99;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 60px 30px !important;
    transition: transform 0.3s ease-in-out; /* Add animation for sliding */
  }
  .menu.active>div{
    margin-bottom: 20px !important;
  }
  /* Additional styles to adjust the visibility and animation of the menu */
  .menu.active.ham {
    transform: translateX(0); /* Slide in the menu from left */
  }
  
  /* Styles for the hamburger icon */
  .ham span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #000;
    margin: 6px auto;
    transition: 0.4s;
  }
  
  .indicate{
    border-left: 5px solid #0B6186;
    height: 30px !important;
    border-radius: 4px 4px;
    padding: 0px 20px;
  }

  /* Animation for hamburger icon */
  .ham.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .ham.active span:nth-child(2) {
    opacity: 0;
  }
  
  .ham.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .main3{
    margin-left: 0px !important;
    margin-top: 35px !important;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden !important;

  }
  .mainChild{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px !important;
  }
  .mainChild>div>small{
    font-size: 10px !important;
    color: #0B6186;
  }
  .mainChild>div>p{
    font-size: 20px;
    color: #0B6186;
  }
  .mainChild>button{
    border:  none;
    background-color: rgb(11, 97, 134);
    border-radius: 50px;
    padding: 15px 30px;
    width: 100% !important;
    color: white;
    margin-bottom: 20px;
  }
  .main4{
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    padding: 0px 10px !important;
  }

  .meter{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .monitor{
    width: 100% !important;
    border-radius: 30px;
    padding: 20px 20px ;
    height: fit-content !important;
  }
  
  .monitor2{
    width: 100% !important;
    border-radius: 30px;
    padding: 30px 50px ;
    height: fit-content !important;
  }
  
  .monitor2>p{
    font-size: 60px !important;
    color: #0B6186;
  }
  .monitor2>small{
    font-size: 15px;
    color: #0B6186;
    font-family: 'Lato TR Light', sans-serif;
  
  }
  .monitor2>p>span{
    font-size: 20px !important;
  }
  
  .monitor>p{
    font-size: 60px !important;
    color: #0B6186;
  }
  .monitor>small{
    font-size: 15px;
    color: #0B6186;
    font-family: 'Lato TR Light', sans-serif;
  
  }
  .monitor>p>span{
    font-size: 20px !important;
  }

  .prof{
   display: none;
  }
  
  .hideDiv{
    display: block;
    /* border: 2px solid red; */
    border-radius: 100% !important;
  }
  .notification{
    margin-left: 300px;
    display: block;
  }
  #displayUsername{
    display: none;
  }
  #displayUsername1{
    display: block;
  }
.chart1 {
  padding: 10px !important;
}

.offcanvas-body>.indicate{
    border-left: 5px solid #0B6186;
  /* height: 10px !important; */
  padding: 20px 12px !important;
  border-radius: 4px 4px;
}
.offcanvas-body>div{
  padding: 20px 15px !important;
  color: #0B6186;
  font-size: 12px;
}
.offcanvas{
  padding: 10px 2px !important;
}
.textNone{
  color: #0B6186 !important;
}
.fSMall{
  font-size: 12px;
  color: #0B6186 !important;
  padding: 25px 15px !important;
}
.igin{
  background-color: #FAFAFA !important;
  width: 100%;
  margin-left: 0px;
  padding: 10px 0px;
}
.Proff{
  padding: 0px 0px 50px 0px !important;
}
.movePro{
  margin-left: 0px !important;
  height: fit-content;
  margin-top: 80px;
  width: 100% !important;
  padding: 0px 15px
  ;
}
.borsbot{
  border-bottom: 2px solid rgb(187, 184, 184);
  margin-bottom: 30px ;
}
.borsbot>small{
  font-size: 9px;
  color: rgb(180, 180, 180);
}
.borsbot>p{
  font-size: 13px;
  color: rgb(95, 95, 95);
}

.notifyDiv{
  margin-left: 5px !important;
  width: 100%;
  color: #000;
  /* border: 2px solid red;  */
  margin-top: 46px;
  font-size: 13px;
  padding: 10px 20px;
}

.borderit{
  /* border: 2px solid red; */
  width: 100% !important;
  margin: 20px 0px;
  font-size: 12px;
}
h3{
  font-size: 14px !important;
}
.appliancce{
  margin-left: 0px !important;
}
.billImage{
 display: none;
}
}
